*{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}
.gallery-display{
    overflow: hidden;
    height: 820px;
    width: 1080px;
    margin: 0 auto;
}
.box-wrap {
    width: 500%;
    animation: slideShow 10s infinite;
    
}
.img{
    float: left;
    height: 608px;
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin-left: 60px;
}
@keyframes slideShow{
    15%{
        margin-left: 0;
    }
    30%{
        margin-left: -80%;
    }
    45%{
        margin-left: -80%;
    }
    60%{
        margin-left: -120%;
    }
    75%{
        margin-left: -120%;
    }
    90%{
        margin-left: -120%;
    }
    100%{
        margin-left: 0;
    }
}